@{
    int x = 25;
    int y = 5;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Operações Aritiméticas com inteiros</h1>

        <em>Tente mudar o valor e tipo das variáveis e observe os resultados</em>

        <p>A variável x é igual a @x e a variável y é igual a @y</p>

        <h2>Adição</h2>
        <p> x + y = @(x + y)</p>

        <h2>Subtração</h2>
        <p> x - y = @(x - y)</p>

        <h2>Multiplicação</h2>
        <p> x * y = @(x * y)</p>

        <h2>Divisão</h2>
        <p> x / y = @(x / y)</p>

        <h2>Módulo (Resto)</h2>
        <p> x % y = @(x % y)</p>
    </body>
</html>
